# Text Pre-Processing

In [2]:
# Import libraries
import pandas as pd

In [3]:
# Load dataset
df = pd.read_csv('IMDB Dataset.csv')
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

##### Lower casing

In [4]:
# lower case
df['review'] = df['review'].str.lower()
df.head()

                                              review sentiment
0  one of the other reviewers has mentioned that ...  positive
1  a wonderful little production. <br /><br />the...  positive
2  i thought this was a wonderful way to spend ti...  positive
3  basically there's a family where a little boy ...  negative
4  petter mattei's "love in the time of money" is...  positive

##### remove html tags

In [5]:
# Remove Html tags
import re
def remove_html_tags(text):
    html_pattern = re.compile('<.*?>')
    return html_pattern.sub(r'', text)
df['review'] = df['review'].apply(lambda text: remove_html_tags(text))
df.head()

                                              review sentiment
0  one of the other reviewers has mentioned that ...  positive
1  a wonderful little production. the filming tec...  positive
2  i thought this was a wonderful way to spend ti...  positive
3  basically there's a family where a little boy ...  negative
4  petter mattei's "love in the time of money" is...  positive

In [92]:
def remove_url(text) :
    pattern = re.compile(r'https?://\S+|www\.\S+')
    return pattern.sub(r'', text)

In [93]:
text = 'Check out my notebook https://www.kaggle.com/campusx/notebook8223fc1abb'
text2 = 'Check out my notebook http:/ /www.kaggle.com/campusx/notebook8223fc1abb'
text3 = 'Google search here www.google.com'
text4 = 'For notebook click "https://www.kaggle.com/campusx/notebook8223fclabb" to search check www.google.com'

In [94]:
remove_url(text)

'Check out my notebook '

In [97]:
remove_url(text2)

'Check out my notebook http:/ /'

##### Remove Punctuation

In [142]:
import string
exclude = string.punctuation

In [143]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [165]:
def remove_punc(text):
    exclude = string.punctuation
    return text.translate(str.maketrans('', '', exclude))

In [111]:
text = 'Hi, how are you? Where: You are! :)() Are you OK?// ahh/'

In [ ]:
remove_punc(text)

'Hi how are you Where You are  Are you OK ahh'

In [154]:
df = pd.read_csv('twitter_data/train.csv')

In [138]:
df.sample(5)

          id  label                                              tweet
490      491      0  lets colorized your life w/ rainbow #danian #l...
25562  25563      0  @user he can't even come up with new putdowns ...
15165  15166      0  do you want to be  ?  increase the levels of t...
19273  19274      0   @user look, xhaka and rodriquez both play the...
14371  14372      1  @user you might be a libtard if... #libtard  #...

In [166]:
df['tweet'].apply(remove_punc)

0         user when a father is dysfunctional and is so...
1        user user thanks for lyft credit i cant use ca...
2                                      bihday your majesty
3        model   i love u take with u all the time in u...
4                     factsguide society now    motivation
                               ...
31957    ate user isz that youuuðððððð...
31958      to see nina turner on the airwaves trying to...
31959    listening to sad songs on a monday morning otw...
31960    user sikh temple vandalised in in calgary wso ...
31961                      thank you user for you follow
Name: tweet, Length: 31962, dtype: object

In [172]:
df.head(5)

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation